html, body {
  height: 100%; 
  max-height: 100%;  
  background-color: #c1c1c1;
}

.sub-nav {
	margin-bottom: 0.3rem;
}

.sub-nav dt, .sub-nav dd, .sub-nav li {
	font-size: 1.4rem;
}

.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
	color: #008cba;
}

.sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover {
	color: white;
}

.inline-list > li {
	margin-right: -0.8rem;
	margin-left: 0.8rem;
	font-size: 0.9rem;
}

.top-bar .title-area {
    margin-top: 2px;
}

p {
	margin-bottom: 0;
}

input[type="text"] {
	margin: 0;
	padding: 20px 10px;
}

button, .button {
	margin: 0;
}

table {
    width: 100%;
}

.top-bar .name h1 {
	margin-top: 9px;
}

.red {
	color: red;
}

.green {		
	color: green;
}