<div class="row">
	<table>
		<tr ng-repeat="tech in availableTechs | filter:ageFilter">			
			<td width="150">
				<h3>{{tech.name}}</h3>
			</td>
			<td>
				<p ng-bind-html="tech.description"></p>
			</td>
			<td width="300">
				<div ng-hide="techResearched(tech.name)">
					<button class="small right expand" ng-disabled="getScience() < tech.cost" ng-click="research(tech);">Research ({{tech.cost | number}} <i class="fa fa-flask"></i>)</button>			
				</div>
				<div class="right" ng-show="techResearched(tech.name)">
					<h3>Researched</h3>
				</div>
			</td>
		</tr>
	</table>
</div>
