<div class="row">
	<table>
		<tr ng-repeat="tech in availableTechs | filter:notResearched">			
			<td width="250">
				<h4>{{tech.name}}</h4>
			</td>
			<td>
				<p ng-bind-html="tech.description"></p>
			</td>
			<td width="250">
				<button class="small right expand" ng-disabled="getScience() < getTechCost(tech)" ng-click="research(tech);">Research ({{getTechCost(tech) | number}} <i class="fa fa-flask"></i>)</button>			
			</td>
		</tr>
	</table>
</div>
<div class="row">
	<span class="boxes" ng-click="over=!over" ng-repeat="tech in availableTechs | filter:researched"><a href="" class="tiny radius alert button"><span ng-show="!over">{{tech.name}}</span><span ng-show="over" ng-bind-html="tech.description"></span></a></span>
</div>
