<div class="row">
	<table>
		<tr ng-repeat="wonder in getAvailableWonders() | filter:notConstructed">
			<td width="250">
				<h4>{{wonder.name}}</h4>
			</td>
			<td>
				<p ng-bind-html="wonder.description"></p>
			</td>
			<td>
				<button ng-show="wonderBuilding(wonder) >= 0" class="right small" ng-click="cancel(wonder)">Cancel</button>
			</td>
			<td width="300">
				<div ng-show="wonderBuilding(wonder) >= 0">
					<progressbar max="100" value="wonderBuilding(wonder)" type="success">&nbsp;Constructing</progressbar>
				</div>
				<div ng-show="wonderBuilding(wonder) < 0">
					<button class="right expand small" ng-click="build(wonder);">Build ({{wonder.lossPerTurn | number}}<i class="fa fa-gavel"></i> per Turn for {{wonder.turns}} Turns)</button>
				</div>				
			</td>			
		</tr>
	</table>
</div>
<div class="row">
	<span class="boxes" ng-click="over=!over" ng-repeat="wonder in getAvailableWonders() | filter:constructed"><a href="" class="small radius success button"><span ng-show="!over">{{wonder.name}}</span><span ng-show="over" ng-bind-html="wonder.description"></span></a></span>	
</div>