<div class="row">
	<table>
		<tr ng-repeat="unit in availableUnits | filter:previousAgeFilter ">
			<td width="100"><h3>{{unit.count | number}}</h3></td>
			<td>
				<h4>{{unit.name}}
					<small>
						{{getUnitDamage(unit) | number}} <i class="fa fa-bolt"></i> {{getUnitHp(unit) | number}} <i class="fa fa-heart"></i>
					</small>
				</h4>				
			</td>
			<td width="120"></td>
			<td width="50"></td>
			<td width="300"></td>
		</tr>
		<tr ng-repeat="unit in availableUnits | filter:ageFilter ">
			<td width="100"><h3>{{unit.count | number}}</h3></td>
			<td>
				<h4>{{unit.name}}
					<small>
						{{getUnitDamage(unit) | number}} <i class="fa fa-bolt"></i> {{getUnitHp(unit) | number}} <i class="fa fa-heart"></i>
					</small>
				</h4>				
			</td>
			<td width="120"><input type="text" ng-model="toTrain"></input></td>
			<td width="50"><button title="Max" class="small right expand" ng-click="max(unit);"><i class="fa fa-step-forward fa-rotate-270"></i></button></td>
			<td width="300"><button class="small right expand" ng-disabled="toTrain < 0 || getProduction() < toTrain * unit.cost" ng-click="train(unit, toTrain);">Train ({{toTrain * unit.cost | number}} <i class="fa fa-gavel"></i>)</button></td>
		</tr>
	</table>
</div>

<div class="row">
	<table>
		<tr>
			<td width="100"><h3>{{getEnemy().count | number}}</h3></td>
			<td>
				<h4>{{getEnemy().name}}
					<small>
						{{getEnemy().damage | number}} <i class="fa fa-bolt"></i> {{getEnemy().hp | number}} <i class="fa fa-heart"></i>
					</small>
				</h4>				
			</td>			
			<td width="300"><button ng-hide="!canConquest()" class="small right expand" ng-click="conquest()">Conquest ({{getRemainingConquestsThisTurn()}})</button></td>
		</tr>
	</table>
</div>


<div ng-show="getTurnsSinceAlienInvaded() > -3" class="row">
	<h4>Incoming Alien Forces</h4>
	<table>
		<tr ng-repeat="alien in getAliens()">
			<td width="100"><h3>{{alien.count | number}}</h3></td>
			<td>
				<h4>{{alien.name}}
					<small>
						{{alien.damage | number}} <i class="fa fa-bolt"></i> {{alien.hp | number}} <i class="fa fa-heart"></i>
					</small>
				</h4>				
			</td>			
			<td width="300"></td>
		</tr>
	</table>
</div>