<div class="row">
	<table>
		<tr ng-repeat="building in availableBuildings | filter:ageFilter ">
			<td>{{building.name}}</td>			
			<td>{{building.count}}</td>
			<td>{{building.cost}} <i class="fa fa-gavel"></i></td>
			<td>
				<span ng-show="building.productionPerTurn">{{building.productionPerTurn * building.multiplier | number}} <i class="fa fa-gavel"></i> per Turn</span>
				<span ng-show="building.sciencePerTurn">{{building.sciencePerTurn * building.multiplier | number}} <i class="fa fa-flask"></i> per Turn</span>
			</td>
			<td><button ng-disabled="getProduction() < building.cost" ng-click="build(building);">Build</button></td>
		</tr>
	</table>
</div>