<div class="row">	
	<table>
		<tr ng-repeat="building in availableBuildings | filter:production ">
			<td width="100"><h3>{{building.count}}</h3></td>
			<td>
				<h4>{{building.name}}
					<small>
						+{{building.productionPerTurn * building.multiplier | number}} <i class="fa fa-gavel"></i> per Turn
					</small>
				</h4>
			</td>			
			<td width="300"><button class="small right expand" ng-disabled="getProduction() < building.cost" ng-click="build(building);">Build ({{building.cost | number}} <i class="fa fa-gavel"></i>)</button></td>
		</tr>
	</table>
</div>